extends ../layout
block body
	.row.justify-content-center
		.col-sm-6.col-md-4.text-center
			each messages, type in flash
				- if (type == 'error') type = 'danger'
				- if (type == 'success') type = 'success'
				each message in messages
					div(class="alert alert-" + type )!= message

	.row
			each product in products
				.col-md-4.col-sm-6
					.card(style='height: 95%').bg-light.mb-2
						.text-center
							img.card-img-top(style="height: 200px; width: auto; padding-top: 15px;" src=product.imagePath)
						.card-body
							h5.card-title #{product.title}
							h6.card-title by <strong> #{product.author} </strong>
							p.card-text #{product.description}
						.card-footer
							- var url = product._id
							//- a.btn.btn-success.float-left(href='/chat/' + url, role='button') Discuss in chat
							a.ajaxAdd.btn.btn-secondary.float-right(href='/add-to-cart/' + url, role='button') Add to cart 
								i.fa.fa-cart-plus
							p.price.float-right.mt-2.mr-2 $#{product.price}
	.row.fixed-bottom.justify-content-end
		.col-md-2.mb-4.text-center
			a.btn.btn-success.btn-lg(href='/chat') Chat
							




